*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Tahoma, Arial, sans-serif;
}

body{
    background:#f4f4f4;
    direction:rtl;
}

header{
    background:#198754;
    color:white;
    text-align:center;
    padding:25px;
}

header h1{
    font-size:34px;
    margin-bottom:10px;
}

header p{
    font-size:18px;
}

nav{
    background:white;
    padding:15px;
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    gap:12px;
    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

nav button{
    background:#198754;
    color:white;
    border:none;
    padding:12px 22px;
    border-radius:8px;
    cursor:pointer;
    font-size:17px;
    transition:.3s;
}

nav button:hover{
    background:#157347;
}

main{
    width:90%;
    margin:40px auto;
}

#content{
    background:white;
    border-radius:12px;
    padding:40px;
    text-align:center;
    box-shadow:0 2px 10px rgba(0,0,0,.15);
}

#content h2{
    color:#198754;
    margin-bottom:15px;
}

#content p{
    font-size:18px;
    color:#555;
}

@media(max-width:768px){

    nav{
        flex-direction:column;
    }

    nav button{
        width:100%;
    }

}
categories{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(160px,1fr));

gap:18px;

padding:20px;

}

.categories button{

padding:25px;

font-size:22px;

background:#198754;

color:white;

border:none;

border-radius:15px;

cursor:pointer;

transition:.3s;

box-shadow:0 5px 10px rgba(0,0,0,.15);

}

.categories button:hover{

transform:translateY(-5px);

background:#157347;

}
.cart-box{

background:white;

margin:20px;

padding:20px;

border-radius:15px;

box-shadow:0 3px 10px rgba(0,0,0,.15);

}

.cart-box h2{

color:#198754;

margin-bottom:15px;

}

#cart-items{

margin:15px 0;

padding:10px;

background:#f7f7f7;

border-radius:10px;

min-height:50px;

}

#cart-total{

color:#198754;

font-weight:bold;

font-size:24px;

}
